<nav class="docs-navbar-header mat-elevation-z6" aria-label="Top Toolbar">
  <a mat-button class="docs-button" routerLink="/" aria-label="PiwikPro">
    <img class="docs-angular-logo"
         src="../../../assets/img/homepage/angular-white-transparent.svg"
         alt="angular">
    <span>+</span>
    <img class="docs-angular-logo"
         src="../../../assets/img/homepage/pp-logo_white.svg"
         alt="piwik-pro" style="height: 16px; margin-left: 8px">

  </a>
  <a mat-button class="docs-button" routerLink="/events" routerLinkActive="docs-navbar-header-item-selected">List of events</a>
  <div class="flex-spacer"></div>
</nav>
